<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/homework_4?createDatabaseIfNotExist=true</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">R_O_A_D_1_8_N_int_123</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2dll.auto">create</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="Hibernate.model.Companies"/>
        <mapping class="Hibernate.model.Customers"/>
        <mapping class="Hibernate.model.Developers"/>
        <mapping class="Hibernate.model.Projects"/>
        <mapping class="Hibernate.model.Skills"/>
    </session-factory>
</hibernate-configuration>